Repository MR-Geri/chess: changes, and which Jenkins stages are due for each by the changed paths.
All: Formating, Create documentation, Git add commit push

Formating:
              steps {
                  sh '(git diff-tree --no-commit-id --name-only -r $(git symbolic-ref --short HEAD)) | xargs -n 1 clang-format --sort-includes --style=LLVM -i'
              }
          

Create documentation:
              steps {
                  sh '(git diff-tree --no-commit-id --name-only -r $(git symbolic-ref --short HEAD)) && doxygen'
              }
          

Git add commit push:
              steps {
                  sh 'git add .'
                  sh 'git config --global user.email "ilya.kamckine@yandex.ru"'
                  sh 'git config --global user.name "Jenkins"'
  ...

edit tests to check +edit_jenkins
  Jenkinsfile
  docs/html/tabs.css
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

test
  README.md
Due: none

edit tests to check
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit tests to check
  Jenkinsfile
Due: none

edit jenkinsfile
  Jenkinsfile
Due: none

edit test
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit test on formating
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit test on formating +edit_jenkins
  docs/html/md_README.html
  docs/html/pages.html
  docs/html/search/all_10.js
  docs/html/search/all_11.js
  docs/html/search/all_12.js
  docs/html/search/all_13.js
  docs/html/search/all_d.js
  docs/html/search/all_e.js
  docs/html/search/all_f.js
  docs/html/search/pages_0.js
  docs/html/search/searchdata.js
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit readme
  README.md
Due: none

edit readme +edit_jenkins
  README.md
  docs/html/md_README.html
Due: Git add commit push

test edit test
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

test edit test +edit_jenkins
  docs/html/md_README.html
  docs/html/pages.html
  docs/html/search/all_10.js
  docs/html/search/all_11.js
  docs/html/search/all_12.js
  docs/html/search/all_13.js
  docs/html/search/all_d.js
  docs/html/search/all_e.js
  docs/html/search/all_f.js
  docs/html/search/pages_0.js
  docs/html/search/searchdata.js
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

test edit test +edit_jenkins
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit test and jenkinsfile
  Jenkinsfile
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

Jenkins fix: edit test and jenkinsfile
  tests/tst_figure.cpp
Due: Formating, Create documentation, Git add commit push

edit jenkinsfile
  Jenkinsfile
  src/logic/board/board.cpp
Due: Formating, Create documentation, Git add commit push

Jenkins fix: edit jenkinsfile
  src/logic/board/board.cpp
Due: Formating, Create documentation, Git add commit push

edit utils
  src/utils.h
Due: Formating, Create documentation, Git add commit push

Jenkins fix: edit utils
  src/utils.h
Due: Formating, Create documentation, Git add commit push

Path conditions:
  Formating: any of: (?i)^(?:.*[\\.cpp|\\.h|\\.hpp|\\.cxx])$
  Create documentation: any of: (?i)^(?:.*[\\.cpp|\\.h|\\.hpp|\\.cxx])$
  Git add commit push: any of: (?i)^(?:docs/.*|.*[\\.cpp|\\.h|\\.hpp|\\.cxx])$
